@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  background-image: linear-gradient(to right, #A2B9AF, #465D53);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(-2deg) skewX(-5deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 6rem; }

.u-margin-top-small {
  margin-top: 3rem; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(162, 185, 175, 0.7), rgba(70, 93, 83, 0.7)), url("../img/header.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 30px;
    left: 30px; }
  .header__logo {
    height: 50px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 50px;
    animation: moveInLeft 1s ease-in;
    backface-visibility: hidden; }
  .heading-primary--sub {
    display: block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInRight 1s ease-in;
    backface-visibility: hidden;
    margin-bottom: 50px; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #777;
  padding: 2rem 5rem;
  font-size: 1.2rem; }
  .footer__logo-box {
    text-align: left;
    margin-bottom: 1.5rem; }
  .footer__logo {
    width: 4rem; }
  .footer__navigation {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    background-color: #777; }
  .footer__link:hover, .footer__link:active {
    color: #A2B9AF;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.3); }
  .footer__copyright {
    color: #f7f7f7;
    border-top: 1px solid #eee;
    padding-top: 2rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  background-image: radial-gradient(#A2B9AF, #465D53);
  z-index: 100;
  transition: all 0.3s; }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  transition: all 0.3s; }

.navigation__list {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 0.5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.5s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  color: #698C7D;
  background-position: 100%;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(50); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 2.5rem;
    height: 2px;
    background-color: #777; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.3s; }
  .navigation__icon::before {
    top: -0.7rem; }
  .navigation__icon::after {
    top: 0.7rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 15rem 5rem;
  margin-top: -20vh; }

.section-features {
  margin-top: -10rem;
  padding: 15rem 5rem;
  background-image: linear-gradient(to right bottom, rgba(162, 185, 175, 0.7), rgba(70, 93, 83, 0.7)), url("../img/features.jpg");
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-popular {
  background-color: #f7f7f7;
  padding: 20rem 5rem 10rem;
  margin-top: -20vh; }

.section-stories {
  padding: 10rem 5rem;
  position: relative; }

.section-join {
  padding: 10rem 5rem;
  background-image: linear-gradient(to right bottom, #fff, #698C7D); }

.join {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("../img/features.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .join__form {
    width: 50%;
    padding: 4rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 50px;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #698C7D;
  color: #fff; }
  .btn--green::after {
    background-color: #698C7D; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInLeft 1s ease-in .3s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.4rem;
  color: #698C7D;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #698C7D;
  padding: 5px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #698C7D;
  color: white;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    position: absolute;
    transition: all .2s; }
    .composition__photo--1 {
      left: 0;
      top: -2rem; }
    .composition__photo--2 {
      right: 0;
      top: 2rem; }
    .composition__photo--3 {
      left: 20%;
      top: 7rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #698C7D;
      outline-offset: 2rem;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 100; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.8);
  transition: all .2s; }
  .feature-box__icon {
    margin-bottom: .5rem;
    filter: invert(48%) sepia(13%) saturate(1200%) hue-rotate(110deg) brightness(95%) contrast(80%); }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem; }
  .card__side {
    height: 40rem;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #465D53, #A2B9AF); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #698C7D, #A2B9AF); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #A2B9AF, #fff); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    .card__picture--1 {
      background-image: url("../img/plant-card-1.jpg"); }
    .card__picture--2 {
      background-image: url("../img/plant-card-2.jpeg"); }
    .card__picture--3 {
      background-image: url("../img/plant-card-3.jpeg"); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 15rem;
    right: 1rem;
    text-align: right;
    width: 75%;
    text-shadow: 1px 1px 5px #465D53; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(70, 93, 83, 0.7), rgba(105, 140, 125, 0.7)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(105, 140, 125, 0.8), rgba(162, 185, 175, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(162, 185, 175, 0.8), rgba(255, 255, 255, 0.8)); }
  .card__details {
    padding: 1.5rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1rem;
        padding: .5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    margin-bottom: 4rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 3rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.4rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    transition: all .5s; }
    .story__img--1 {
      transform: translateX(-3rem) scale(1.4); }
    .story__img--2 {
      transform: translateX(-7rem) scale(1.2); }
  .story__text {
    transform: 12deg; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-3rem) scale(1);
    filter: blur(3px) brightness(90%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .4;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 1.5rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  color: #465D53; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #698C7D; }
  .form__input:focus:invalid {
    border-bottom: 3px solid orange; }
  .form__input::placeholder {
    color: #698C7D; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  color: #698C7D;
  position: relative;
  padding-left: 3rem; }

.form__radio-button {
  height: 2rem;
  width: 2rem;
  border: 5px solid #698C7D;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #698C7D;
    opacity: 0;
    transition: all .2s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    display: table;
    width: 75%;
    background-color: #fff;
    opacity: 0;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    border-radius: 3px;
    transition: all .3s; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__left {
    width: 33.3%;
    display: table-cell; }
  .popup__right {
    width: 66.6%;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 3rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    column-count: 2;
    column-gap: 2rem;
    column-rule: 1px solid #eee;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup__close:link, .popup__close:visited {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: #777;
    font-size: 2rem;
    line-height: 1;
    font-weight: 300;
    top: 1rem;
    right: 1.5rem; }
  .popup__close:hover {
    color: #698C7D; }

/*
COLORS:

Light green: #A2B9AF  rgba(162, 185, 175)
Medium green: #698C7D  rgba(105, 140, 125)
Dark green: #465D53  rgba(70, 93, 83)

*/
