
.header {
   position: relative;
   height: 95vh;
   background-image: linear-gradient(
       to right bottom,
       rgba($color-primary-light, 0.7),
       rgba($color-primary-dark, 0.7)
     ),
     url("../img/header-small.jpeg");
   background-size: cover;
   background-position: top;
   clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

   @media (min-resolution: 192dpi) and (min-width: 600px) {
      background-image: linear-gradient(
       to right bottom,
       rgba($color-primary-light, 0.7),
       rgba($color-primary-dark, 0.7)
     ),
     url("../img/header.jpg");
   }

   @media (min-width: 2000px) {
      background-image: linear-gradient(
       to right bottom,
       rgba($color-primary-light, 0.7),
       rgba($color-primary-dark, 0.7)
     ),
     url("../img/header.jpg");
   }

   @include size(phone) {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
   }

   
 
   &__logo-box {
      position: absolute;
      top: 30px;
      left: 30px;
   }
 
   &__logo {
      height: 50px;
   }
   
   &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
   }
 }
 
 
 
 
 
 
 
 
 