.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;

  &__side {
    height: 40rem;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(-180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-dark,
          $color-primary-light
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary,
          $color-primary-light
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-white
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);


    &--1 {
      background-image:  url("../img/plant-card-1.jpg");
    }

    &--2 {
      background-image: url("../img/plant-card-2.jpeg");
    }

    &--3 {
      background-image: url("../img/plant-card-3.jpeg");
    }
  }

  &__heading {
   font-size: 2.5rem;
   font-weight: 300;
   text-transform: uppercase;
   color: $color-white;
   position: absolute;
   top: 15rem;
   right: 1rem;
   text-align: right;
   width: 75%;
   text-shadow: 1px 1px 5px $color-primary-dark;
  }

  &__heading-span {
   padding: 1rem 1.5rem;
   box-decoration-break: clone;
   -webkit-box-decoration-break: clone;

   &--1 {
      background-image: linear-gradient(
         to right bottom,
         rgba(70, 93, 83, .7),
         rgba(105, 140, 125, .7)
       );
   }

   &--2 {
      background-image: linear-gradient(
         to right bottom,
         rgba(105, 140, 125, .8),
         rgba(162, 185, 175, .8)
       );
   }

   &--3 {
      background-image: linear-gradient(
         to right bottom,
         rgba(162, 185, 175, .8),
         rgba(255, 255, 255, .8)
       );
   }
  }

  &__details {
   padding: 1.5rem;

   ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
         text-align: center;
         font-size: 1rem;
         padding: .5rem;

         &:not(:last-child) {
            border-bottom: 1px solid $color-grey-light-2;

         }
      }
   }
  }

  &__cta {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 90%;
   text-align: center;
  }

  &__price-box {
   margin-bottom: 4rem;
   color: $color-white;

  }

  &__price-only {
   font-size: 1.4rem;
   font-weight: 300;
   text-transform: uppercase;
  }

  &__price-value {
   font-size: 6rem;
   font-weight: 100;
  }
}
