.composition {
   position: relative;

   &__photo {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
      border-radius: 3px;
      position: absolute;
      transition: all .2s;

      &--1 {
         left: 0;
         top: -2rem;
      }

      &--2 {
         right: 0;
         top: 2rem;
      }

      &--3 {
         left:20%;
         top:7rem;
      }

      &:hover {
         outline: 1.5rem solid $color-primary;
         outline-offset: 2rem;
         transform: scale(1.05);
         box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
         z-index: 100;
      }
   }

   &:hover &__photo:not(:hover) {
      transform: scale(.9);
   }
}