.feature-box {
   background-color: rgba($color-white, .8);
   font-size: 1.1rem;
   padding: 1.5rem;
   text-align: center;
   border-radius: 3px;
   box-shadow: 0 1.5rem 2rem rgba($color-black, .8);
   transition: all .2s;


   &__icon {
      margin-bottom: .5rem;
      filter: invert(48%) sepia(13%) saturate(1200%) hue-rotate(110deg) brightness(95%) contrast(80%);
   }

   &:hover {
      transform: translateY(-1.5rem) scale(1.03);
   }
}