.story {
  width: 75%;
  margin: 3rem auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.2);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include size(tab-port) {
    width: 100%;
    padding: 3rem;
    padding-left: 5rem;
  }

  @include size(phone) {
    transform: skewX(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include size(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    transition: all .5s;

    &--1 {
      transform: translateX(-3rem) scale(1.4);
    }

    &--2 {
      transform: translateX(-7rem) scale(1.2);
    }

  }

  &__text {
    transform: skewX(12deg);

    @include size(phone) {
      transform: skewX(0);
    }

    
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
   opacity: 1;
   transform: translate(-50%, -50%);
  }

  &:hover &__img {
   transform: translateX(-3rem) scale(1);
   filter: blur(3px) brightness(90%);

  }
}
