.u-center-text {
   text-align: center;
}

.u-margin-bottom-big {
   margin-bottom: 8rem;

   @include size(tab-port) {
      margin: 5rem;
   }
}

.u-margin-bottom-medium {
   margin-bottom: 4rem;

   @include size(tab-port) {
      margin: 3rem;
   }
}

.u-margin-bottom-small {
   margin-bottom: 1.5rem;
}

.u-margin-top-big {
   margin-top: 8rem;
}

.u-margin-top-small {
   margin-top: 3rem;
}


