.section-about {
  background-color: $color-grey-light-1;
  padding: 15rem 5rem;
  margin-top: -20vh;
}

.section-features {
  margin-top: -10rem;
  padding: 15rem 5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url("../img/features.jpg");
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.section-popular {
  background-color: $color-grey-light-1;
  padding: 20rem 5rem 10rem;
  margin-top: -20vh;
}

.section-stories {
  padding: 10rem 5rem;
  position: relative;
}

.section-join {
  padding: 10rem 5rem;
  background-image: linear-gradient(
    to right bottom,
    $color-white,
    $color-primary
  );
}

.join {
  background-image: linear-gradient(
      105deg,
      rgba(#fff, 0.8) 0%,
      rgba(#fff, 0.8) 50%,
      transparent 50%
    ),
    url("../img/features.jpg");
  background-size: cover;
  //height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  &__form {
   width: 50%;
   padding: 4rem;
  }
}
